<!DOCTYPE html>
<html lang="ru">
<head>
	<title>KoboldAI Клиент</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="static/jquery-ui.sortable.min.css">
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/bootstrap-toggle.min.css">
	<link rel="stylesheet" href="static/open-iconic-bootstrap.min.css">
	<link href="static/open-iconic/css/open-iconic.css" rel="stylesheet">
	<link rel="stylesheet" href="static/custom.css?ver=1.18.1c">

	<script src="static/jquery-3.6.0.min.js"></script>
	<script src="static/jquery-ui.sortable.min.js"></script>
	<script src="static/socket.io.min.js"></script>
	<script src="static/bootstrap.min.js"></script>
	<script src="static/bootstrap-toggle.min.js"></script>
	<script src="static/rangy-core.min.js"></script>
	<script src="static/application.js?ver=1.18.1f"></script>
	<script src="static/favicon.js"></script>
</head>
<body>
	<input type="file" id="remote-save-select" accept="application/json" style="display:none">
	<div class="container">
		<div class="row" id="topmenu">
			<div id="menuitems">
				<div class="navcontainer">
					<nav class="navbar" id="navbar">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
							<span class="navbar-button-bar"></span>
							<span class="navbar-button-bar"></span>
							<span class="navbar-button-bar"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="nav navbar-nav">
								{% if not hide_ai_menu %}
								<li class="nav-item">
									<a class="nav-link" href="#" id="btn_loadmodel">ИИ</a>
								</li>
								{% endif %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Новая игра</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" id="btn_newgame">Пустая история</a>
										<a class="dropdown-item" href="#" id="btn_rndgame">Случайная история</a>
									</div>
								</li>
								<li class="nav-item dropdown always-available">
									<a class="nav-link dropdown-toggle always-available" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сохранить</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" id="btn_save">Сохранить</a>
										<a class="dropdown-item" href="#" id="btn_saveas">Сохранить как</a>
										<a class="dropdown-item" href="#" id="btn_savetofile">Сохранить в файл...</a>
										<a class="dropdown-item always-available" href="#" id="btn_download">Скачать историю как JSON</a>
										<a class="dropdown-item" href="#" id="btn_downloadtxt">Скачать историю как текст</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Загрузить</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" id="btn_load">Загрузить</a>
										<a class="dropdown-item" href="#" id="btn_loadfromfile">Загрузить из файла...</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Импорт</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" id="btn_import">AI Dungeon Adventure</a>
										<a class="dropdown-item" href="#" id="btn_importwi">AI Dungeon World Info</a>
										<a class="dropdown-item" href="#" id="btn_impaidg">aetherroom.club Prompt</a>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" id="btn_settings">Настройки</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" id="btn_format">Форматирование</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" id="btn_samplers">Сэмплеры</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" id="btn_userscripts">Пользовательские скрипты</a>
								</li>
								<li class="nav-item">
									<a class="nav-link hidden" href="#" id="btn_softprompt">Мягкий промпт</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<div id="connectstatusdiv" class="flex-row-container">
					<span id="connectstatus" class="color_orange flex-row">Ожидание подключения...</span>
					<div class="layer-container status-container flex-push-left" style="color: #FFFFFF;" id="runtime"></div>
					<div class="layer-container status-container flex-push-right">
						<span class="oi oi-puzzle-piece statusicon layer-bottom" aria-hidden="true">
							<div class="statustext statustext-wide">
								<div id="stat-us" class="statusheader">Нет активных пользовательских скриптов</div>
								<div id="stat-usactive"></div>
							</div>
						</span>
						<div class="layer-top statusiconlabel" id="usiconlabel"></div>
					</div>
					<span class="oi oi-lightbulb statusicon" aria-hidden="true">
						<div class="statustext">
							<div id="stat-sp" class="statusheader">Нет активного мягкого промпта</div>
							<div id="stat-spactive"></div>
						</div>
					</span>
				</div>
			</div>
		</div>
		<div class="row" id="settingsmenu" style="display:none;">
		</div>
		<div class="row" id="formatmenu">
		</div>

		<div id="token_prob_menu" class="row hidden">
			<div id="token_prob_container"></div>
		</div>

		<div class="layer-container">
			<div class="layer-bottom row" id="gamescreen">
				<span id="gametext" contenteditable="true"><p>...</p></span>
				<div class="hidden" id="wimenu">
				</div>
			</div>
			<div id="curtain" class="layer-top row hidden"></div>
		</div>
		<div class="row" id="seqselmenu">
			<div class="seqselheader">Выберите последовательность для сохранения:</div>
			<div id="seqselcontents">
			</div>
		</div>
		<div class="row flex" id="actionmenu">
			<div id="actionmenuitems">
				<button type="button" class="btn btn-primary" id="btn_actmem">Память</button>
				<button type="button" class="btn btn-primary" id="btn_actwi">Инф. о мире</button>
				<button type="button" class="btn btn-primary" id="btn_actundo">Назад</button>
				<button type="button" class="btn btn-primary" id="btn_actredo">Повтор</button>
				<button type="button" class="btn btn-primary" id="btn_actretry">Повторить</button>
			</div>
			<input type="text" id="chatname" class="form-control hidden" placeholder="Имя чата">
			<div id="messagefield"></div>
			<div class="box flex-push-right">
				<input type="checkbox" data-toggle="toggle" data-onstyle="success" id="allowediting" disabled>
				<div class="box-label">Разрешить редактирование</div>
			</div>
		</div>
		<div class="row">
			<div id="inputrow">
				<div id="inputrowmode">
					<button type="button" class="btn btn-secondary hidden" id="btnmode">Режим:<br/><b id="btnmode_label">История</b></button>
				</div>
				<div id="inputrowleft" class="tokens-counted">
					<textarea class="form-control" id="input_text" placeholder="Введите текст здесь"></textarea>
				</div>
				<div id="inputrowright">
					<button type="button" class="btn btn-secondary" id="btnsend">Ожидание</button>
				</div>
			</div>
			<div id="anoterowcontainer">
				<div id="anoterow">
					<div id="anoterowleft">
						<div class="anotelabel no-padding">
							Заметка автора
						</div>
						<div class="anotefield tokens-counted">
							<textarea class="form-control" placeholder="Заметка автора" id="anoteinput"></textarea>
						</div>
					</div>
					<div id="anoterowright">
						<div id="anoteslidelabel">
							<div class="justifyleft">
								Глубина
							</div>
							<div class="justifyright" id="anotecur">
								3
							</div>
						</div>
						<div>
							<input type="range" class="form-range airange" min="1" max="5" step="1" id="anotedepth">
						</div>
						<div class="settingminmax">
							<div class="justifyleft">
								1
							</div>
							<div class="justifyright">
								5
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="anotelabel">
						Заметка автора Template (the "&lt;|&gt;" will be replaced with the Заметка автора text)
					</div>
					<div class="anotefield">
						<textarea class="form-control" placeholder="Заметка автора Template" id="anotetemplate"></textarea>
					</div>
				</div>
			</div>
			<div  class="hidden" id="debugcontainer">
				<textarea class="form-control" placeholder="Отладочная информация" id="debuginfo"></textarea>
			</div>
		</div>
	</div>
	<div class="hidden" id="popupcontainer">
		<div id="popup_old">
			<div id="popuptitlebar">
				<div id="popuptitletext">Выберите приключение для импорта</div>
			</div>
			<div id="popuplistheader">
				<div>Название</div>
				<div>Действий</div>
				<div>Описание</div>
			</div>
			<div id="popupcontent">
			</div>
			<div id="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_popupaccept">Принять</button>
				<button type="button" class="btn btn-primary" id="btn_popupclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="aidgpopupcontainer">
		<div id="aidgpopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Введите номер промпта</div>
			</div>
			<div class="aidgpopuplistheader">
				(4-значное число в конце URL aetherroom.club)
			</div>
			<div class="aidgpopupcontent">
				<input class="form-control" type="text" placeholder="Номер промпта" id="aidgpromptnum">
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_aidgpopupaccept">Принять</button>
				<button type="button" class="btn btn-primary" id="btn_aidgpopupclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="saveascontainer">
		<div id="saveaspopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Введите имя для сохранения</div>
			</div>
			<div class="aidgpopupcontent">
				<input class="form-control" type="text" placeholder="Имя сохранения" id="savename"><br>
				<input type="checkbox" data-toggle="toggle" data-onstyle="success" id="savepins" checked>
				<div class="box-label">Сохранить информацию о закладках</div>
			</div>
			<div class="popuperror hidden">
				<span></span>
			</div>
			<div class="saveasoverwrite hidden">
				<span>Файл уже существует. Действительно перезаписать?</span>
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_saveasaccept">Принять</button>
				<button type="button" class="btn btn-primary" id="btn_saveasclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="loadcontainer">
		<div class="loadpopup" id="loadpopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Select A История To Загрузить</div>
			</div>
			<div class="loadlistheader">
				<div>Имя сохранения</div>
				<div class="flex-push-right">Действий</div>
			</div>
			<div id="loadlistcontent">
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_loadaccept">Загрузить</button>
				<button type="button" class="btn btn-primary" id="btn_loadclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="loadmodelcontainer">
		<div class="loadpopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Select A Model To Загрузить</div>
			</div>
			<div id="loadmodellistbreadcrumbs">
				
			</div>
			<div id="loadmodellistcontent" style="overflow: auto; height: 300px;">
			</div>
			<div class="popupfooter">
				<input class="form-control hidden" type="text" placeholder="Введите URL сервера (например, ссылку trycloudflare)" id="modelurl" onchange="check_enable_model_load()">
				<input class="form-control hidden" type="text" placeholder="Ключ" id="modelkey" onblur="socket.send({'cmd': 'OAI_Key_Update', 'key': $('#modelkey')[0].value});">
				<input class="form-control hidden" type="text" placeholder="Путь к модели или имя Hugging Face" id="custommodelname" menu="" onblur="socket.send({'cmd': 'selectmodel', 'data': $(this).attr('menu'), 'path_modelname': $('#custommodelname')[0].value});">
			</div>
			<div class="popupfooter">
				<select class="form-control hidden" id="oaimodel"><option value="">Выберите модель(и)</option></select>
			</div>
			<div class="popupfooter hidden" id=modellayers>
				<div class='settingitem' style="width:100%">
					<div class='settinglabel'>
						<div class="justifyleft">
							Слои GPU/Диск
							<span class="helpicon">?
								<span class="helptext">Количество слоёв для GPU и дискового кэша. Остальные слои будут размещены в оперативной памяти.</span>
							</span>
						</div>
						<div class="justifyright" id="gpu_layers_current">0</div>
					</div>
					<div id=model_layer_bars style="color: white">
						
					</div>
					<input type=hidden id='gpu_count' value=0/>
					<div class="settingminmax">
						<div class="justifyleft">
							0
						</div>
						<div class="justifyright" id="gpu_layers_max">
							24
						</div>
					</div>
				</div>
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_loadmodelaccept">Загрузить</button>
				<button type="button" class="btn btn-primary" id="btn_loadmodelclose">Отмена</button>
				<div class="box flex-push-right hidden" id=use_gpu_div>
					<input type="checkbox" data-toggle="toggle" data-onstyle="success" id="use_gpu" checked>
					<div class="box-label">Использовать GPU</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="spcontainer">
		<div id="sppopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Выберите мягкий промпт для использования</div>
				<button class="btn btn-primary" onclick="socket.emit('show_folder_soft_prompt', {});"><span class="oi" style="color: white;" data-glyph="folder"></span></button>
			</div>
			<div id="splistcontent">
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_spaccept">Загрузить</button>
				<button type="button" class="btn btn-primary" id="btn_spclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="uscontainer">
		<div id="uspopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Выберите пользовательские скрипты для загрузки; перетаскивайте для изменения порядка</div>
				<button class="btn btn-primary" onclick="socket.emit('show_folder_usersripts', {});"><span class="oi" style="color: white;" data-glyph="folder"></span></button>
			</div>
			<div class="usheadergrid">
				<div>[ДОСТУПНО]</div>
				<div>[АКТИВНО]</div>
			</div>
			<div class="uslistgrid">
				<div id="uslistunloaded">
				</div>
				<div id="uslistloaded">
				</div>
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_usaccept">Загрузить</button>
				<button type="button" class="btn btn-primary" id="btn_usclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="samplerscontainer">
		<div id="samplerspopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Перетаскивайте для изменения порядка применения сэмплеров</div>
			</div>
			<div id="samplerslist">
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_samplersaccept">Сохранить</button>
				<button type="button" class="btn btn-primary" id="btn_samplersclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="loadcontainerdelete">
		<div id="loadpopupdelete">
			<div class="popuptitlebar">
				<div class="popuptitletext">Really Удалить История?</div>
			</div>
			<div class="dialogheader">
				"<span id="loadcontainerdelete-storyname"></span>" будет УДАЛЕНА НАВСЕГДА! Вы не сможете восстановить эту историю позже.
			</div>
			<div class="popuperror hidden">
				<span></span>
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-danger" id="btn_dsaccept">Удалить</button>
				<button type="button" class="btn btn-primary" id="btn_dsclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="loadcontainerrename">
		<div id="loadpopuprename">
			<div class="popuptitlebar">
				<div class="popuptitletext">Enter New Name For История</div>
			</div>
			<div class="dialogheader">
				Как следует переименовать историю "<span id="loadcontainerrename-storyname"></span>" в?
				<input class="form-control" type="text" placeholder="New Имя сохранения" id="newsavename">
			</div>
			<div class="popuperror hidden">
				<span></span>
			</div>
			<div class="saveasoverwrite hidden">
				<span>Файл уже существует. Действительно перезаписать?</span>
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_rensaccept">Принять</button>
				<button type="button" class="btn btn-primary" id="btn_rensclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="newgamecontainer">
		<div id="nspopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Really Start A New История?</div>
			</div>
			<div class="aidgpopuplistheader">
				Несохранённые данные будут потеряны.
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_nsaccept">Принять</button>
				<button type="button" class="btn btn-primary" id="btn_nsclose">Отмена</button>
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden flex" id="showmodelnamecontainer" style="center;">
		<div class="loadpopup">
			<div class="popuptitlebar" style="width:50% center;">
				<div class="popuptitletext">Информация о модели</div>
			</div>
			<div id=showmodelnamecontent style="width:50%;">
				Информация о модели Missing
			</div>
			<div class="popupfooter" style="width:50% center;">
				
			</div>
		</div>
	</div>
	<div class="popupcontainer hidden" id="rndgamecontainer">
		<div id="rspopup">
			<div class="popuptitlebar">
				<div class="popuptitletext">Really Start A Random История?</div>
			</div>
			<div class="aidgpopuplistheader">
				<br>
				История quality and topic depends on the model and your settings/suggestion (Around 0.5 temp is recommended).<br>
				Эта функция лучше всего работает с тематическими моделями, такими как Adventure, и также может быть изменена с помощью мягких промптов.<br>
				Если вы получаете случайный спам, значит ваша модель не способна использовать эту функцию, а если вы получаете несвязанные истории, она не понимает тему.<br>
				Сгенерированные результаты не фильтруются и могут быть оскорбительными или неподходящими для детей, ИИ может устанавливать связи, которые не предполагались создателем модели/мягкого промпта.<br><br>
				Несохранённые данные будут потеряны.<br><br>
				Ниже вы можете ввести предложение жанра для ИИ, чтобы он свободно основывал историю на нём (например, Ужасы или Ковбои).<br>
			</div>
			<div class="aidgpopupcontent">
				<input class="form-control" type="text" placeholder="История Genre Suggestion (Leave blank for fully random)" id="topic">
			</div>
			<div class="aidgpopupcontent">
				<textarea class="form-control" placeholder="Память" id="rngmemory"></textarea>
			</div>
			<div class="popupfooter">
				<button type="button" class="btn btn-primary" id="btn_rsaccept">Принять</button>
				<button type="button" class="btn btn-primary" id="btn_rsclose">Отмена</button>
			</div>
		</div>
	</div>
	
	<!------------- Pop-Up ------------------------------->
	<div class="popupcontainer hidden" id="popup">
		<div class="new_popup">
			<div style="height:100%;">
				<div class="title" id="popup_title">
					Popup Название
				</div>
				<div id="popup_breadcrumbs"></div>
				<div class="popup_list_area" id="popup_list"></div>
				<div class="popup_load_cancel hidden" id="popup_upload">
				<input type=file id="popup_upload_file">
			</div>
			<div style="background-color: black">Перетащите файл(ы) выше или нажмите здесь для загрузки файла<input id="popup_upload_input" type=file onchange="upload_file(this)"></div>
			<div class="popup_load_cancel" id="popup_load_cancel">
					<button class="btn btn-secondary popup_load_cancel_button" id="popup_accept">Загрузить</button>
					<button class="btn btn-primary popup_load_cancel_button" id="popup_cancel" onclick='document.getElementById("popup").classList.add("hidden");'>Отмена</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
